* {
  box-sizing: border-box;
}

body {
  background-color: rgba(221 199 126 / 63%);
  color: #71270f;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h2 {
  margin: 0;
}

.title {
  font-size: 4em;
  margin-top: 0;
}

.title-pumpkin {
  width: 50px;
  margin: 0 5px -10px;
}

.canvas {
  overflow: hidden;
  width: 800px;
  height: 800px;
  border: 20px solid rgb(207 112 22);
  border-radius: 20px;
  background-color: rgba(216 123 86 / 50%);
  position: relative;
}

.hp__block {
  display: flex;
  justify-content: right;
  margin-right: 20px;
  gap: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hp {
  width: 40px;
  opacity: 1;
  transition: 0.5s;
}

.div-score {
  width: fit-content;
  text-align: right;
  margin-left: 580px;
}

.span-score {
  font-size: 1.5em;
}

.dead-line {
  width: 100%;
  height: 30px;
  background-color: rgb(108 168 80);
  position: absolute;
  bottom: 0;
}

.catcher {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 30px;
  left: calc(50% - 40px);
  z-index: 10;
}

.house {
  width: 150px;
  position: absolute;
  bottom: 18px;
  right: 30px;
  z-index: 1;
  opacity: 0.7;
}

.tree {
  width: 150px;
  position: absolute;
  bottom: 10px;
  left: 30px;
  z-index: 1;
  opacity: 0.7;
}

.leaf {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -60px;
  z-index: 11;
  background-image: url("../img/leaf.svg");
}

.drop {
  width: 30px;
  height: 30px;
  position: absolute;
  left: -60px;
  z-index: 11;
  background-image: url("../img/drop.svg");
}

.modal-hello {
  position: relative;
  z-index: 100;
  margin-top: -110px;
  padding: 150px 100px;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
}

.modal-hello__content {
  background-color: #e5d8be;
  border: 5px solid #cf7016;
  border-radius: 20px;
  width: 100%;
  height: 100%;
  padding: 50px 90px;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
}

.modal-hello__game-description {
  margin: 30px 0;
  font-size: 20px;
  line-height: 35px;
}

.span__img-leaf,
.span__img-drop {
  margin: 0 5px;
  margin-bottom: -5px;
}

.button__play-game {
  width: 100px;
}

.button__play-game img {
  width: 100%;
}

.none {
  display: none;
}
