/* forum-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/forum-v16-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/inter-v12-latin-regular.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap;
  /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/inter-v12-latin-700.woff2') format('woff2');
  /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  color: #000;

}

.wallpaper-full {
  max-width: 1440px;
  margin: 0 auto;
}

.wallpaper {
  max-width: 1400px;
  margin: 0 auto;
  padding:
}

p {
  margin: 0;
}

h4 {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  background-color: transparent;
  padding: 0;

}

h2 {
  margin: 0;
}

h3 {
  margin: 0;
}

input {
  outline: none;
}

/* Header style start */
.header {
  width: 100%;
  height: 90px;
  margin: 0 auto;
  color: #FFF;
  background-color: #0C0C0E;
}



.header__top {
  display: flex;
  align-items: center;
  height: 90px;
}

.header__title {
  margin: 0;
  margin-right: 454px;
  font-family: 'Forum';
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

.header__nav {
  margin-right: 40px;
}

.header__list {
  display: flex;
}

.header__list__item {
  position: relative;
  margin-right: 30px;
}

.header__list__item:last-child {
  margin-right: 0;
}

.header__list__item::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 2px;
  width: 0%;
  height: 1px;
  background-color: #aaa;
  transition: .3s;
}

.header__list__item:hover:before {
  width: 100%;
}



.header__nav-link {
  color: #fff;
  font-family: 'Inter';
  font-size: 20px;
  font-weight: 400;
  line-height: 50px;
}


.button__user-profile {
  cursor: pointer;
  width: 28px;
  height: 28px;
}

.button__user-profile:hover {
  filter: drop-shadow(0px 0px 10px #ee900c);
  width: 30px;
  height: 30px;
}

/* Header style end */


/* Main style start */

.welcome {
  width: 100%;
  position: relative;
  height: 603px;
  margin-top: -3px;
  background-color: #0C0C0E;
  margin-bottom: 20px;
  background-image: url(../assets/img/welcome.png);
  background-size: cover;
}



.welcome__title {
  position: absolute;
  top: 220px;
  z-index: 1;
  width: 600px;
  height: 220px;
  padding: 35px 40px;
  margin: 0;
  background-color: #0C0C0E;
  color: #FFF;
  text-align: center;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.span-welcome {
  padding-right: 10px;
}


.about {
  margin-bottom: 53px;
}

.about__title {
  position: relative;
  color: #0C0C0E;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-align: center;
  margin-bottom: 61px;
}

.about__title::before {
  content: '';
  position: absolute;
  left: 673px;
  top: 60px;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;

}

.about__desc {
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  margin-bottom: 20px;
}

.about__images {
  display: flex;
  justify-content: space-between;
  margin-bottom: 37px;
}

.carousel {
  display: flex;
  justify-content: center;
}

.carousel__item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 26px;
  height: 26px;
  cursor: pointer;
}

.carousel__item__circle {
  cursor: pointer;
}


.carousel__item__circle-vers1 {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #BB945F;
}

.carousel__item__circle-vers2 {
  width: 16px;
  height: 16px;
  border-radius: 100%;
  background-color: #0C0C0E;
}


.favorites {
  margin-bottom: 60px;
}


.favorites__title {
  position: relative;
  margin-bottom: 61px;
  text-align: center;
  color: #0C0C0E;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

.favorites__title::before {
  content: '';
  position: absolute;
  left: 673px;
  top: 60px;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}

.favorites__desc {
  margin-bottom: 33px;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.favorites__form {
  display: flex;
  margin-bottom: 29px;
}

.fav-block-input {
  height: 44px;
  margin-right: 90px;
  padding: 10px 0px;
  cursor: pointer;
}



.favorites__label {
  margin-right: 89px;
  padding: 10px 0px;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  cursor: pointer;

}

.favorites__label:last-child {
  margin-right: 0;
}


.favorites__input {
  margin-right: 16px;
  cursor: pointer;
}





.favorites__list {
  display: flex;
  flex-wrap: wrap;
  height: 1150px;
  align-content: space-between;
}


.staff-picks {
  position: relative;
  font-family: 'Forum';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.staff-picks::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 60px;
  height: 1px;
  background-color: #BB945F;
}

.favorites {
  margin-bottom: 60px;
}

.favorites__list__item {
  width: 550px;
  height: 555px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  border: 1px solid #000;
  padding: 15px 19px;
}

.favorites__list__item:nth-child(1),
.favorites__list__item:nth-child(3) {
  margin-right: 260px;
}

.favorites__list__item-title {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.book-name {
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.book-cover {
  position: absolute;
  bottom: 0;
  left: 390px;
  width: 200px;
  height: 300px;
}

.favorites__list__item-desc {
  width: 357px;
  height: 320px;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}

/* radiobutton */

.favorites__input {
  accent-color: black;
  width: 17px;
  height: 17px;
}


.favorites__input:checked~.fav-season-span {
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* radiobutton */


.button-book {
  position: absolute;
  bottom: 13px;
  left: 17px;
  padding: 9px 27px;
  border: 1px solid #000;
  border-radius: 2px;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  cursor: pointer;
  transition: .4s;
}

.button-book:hover {
  background-color: #BB945F;
  border: 1px solid #BB945F;
}

.button-book_own {
  border: 1px solid #BB945F;
  border-radius: 2px;
  padding: 9px 25px;
  color: #BB945F;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  position: absolute;
  bottom: 13px;
  left: 17px;
}

.coffee-shop {
  margin-bottom: 20px;
}

.coffee-shop__title {
  position: relative;
  text-align: center;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 61px;
}

.coffee-shop__title::before {
  content: '';
  position: absolute;
  left: 670px;
  top: 60px;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;

}

.coffee-shop__desc {
  text-align: center;
  color: #000;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.drinks__title,
.desserts__title {
  color: #BB945F;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  margin-bottom: 40px;
}

.desserts__title {
  text-align: right;
}


.coffee-shop__menu {
  display: flex;
  justify-content: space-between;
}

.coffee-shop__menu__left {
  width: 438px;
}

.coffee-shop__menu__right {
  width: 482px;
}

.coffee-shop__menu__left__list__item__title,
.coffee-shop__menu__right___list__item__title {
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: capitalize;
  position: relative;
}

.coffee-shop__menu__right___list__item__title {
  text-align: right;
  width: 233px;
}



.coffee-shop__menu__left__list__item:last-child,
.coffee-shop__menu__right___list__item:last-child {
  margin-bottom: 0;
}



.coffee-shop__menu__left__list__item::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  right: 81px;
  background-color: #BB945F;
}

.coffee-shop__menu__right__list__item::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 1px;
  right: 91px;
  background-color: #BB945F;
}


.coffee-shop__menu__left__price,
.coffee-shop__menu__right__price {
  font-family: 'Forum';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.coffee-shop__menu__left__list__item,
.coffee-shop__menu__right__list__item {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.contacts {
  max-width: 1440px;
  margin: 0 auto;
  margin-bottom: 94px;
  position: relative;
}

.contacts__title {
  margin-bottom: 60px;
  position: relative;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts__title::before {
  content: '';
  position: absolute;
  top: 58px;
  left: 675px;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}

.contacts__list-tel__item__title,
.contacts__list-senior__item__title {
  margin-bottom: 40px;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 2px;
}

.contacts__list-senior__item__title {
  margin-bottom: 20px
}

.contacts__list-tel__item__tel-number,
.contacts__list-senior__item__address {

  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
  text-transform: capitalize;
}



.contacts__list-tel__item {
  margin-bottom: 20px;
}

.contacts__list-tel__item:last-child {
  margin-bottom: 40px;
}

.contacts__map-img {
  position: absolute;
  top: 101px;
  right: 20px;
  transition: .5s;
}
.contacts__map-img:hover {
  transform: scale(1.1);
}

/* CONTACTS LINK STYLE START */

.img-tel-1 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 340px;
  top: 185px;
  visibility: hidden;
}

.img-tel-2 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 536px;
  top: 247px;
  visibility: hidden;
}

.img-tel-3 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 426px;
  top: 306px;
  visibility: hidden;
}

.img-mail {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 387px;
  top: 447px;
  visibility: hidden;
}

.contacts__list-tel__item__link:hover>.contacts-img,
.contacts__list-senior__item__link:hover>.contacts-img {
  visibility: visible;
}

.contacts-img {
  transition: .5s;
}



.contacts__list-senior__item__link:before {
  content: '';
  position: absolute;
  left: 15px;
  bottom: 1px;
  width: 0px;
  height: 2px;
  background-color: #aaa;
  transition: .8s;
}



.contacts__list-senior__item__link:hover:before {
  width: 420px;
}



.contacts-link-1:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 217px;
  width: 0;
  height: 2px;
  background-color: #aaa;
  transition: .8s;
}

.contacts-link-1:hover:before {
  width: 376px;
}

.contacts-link-2:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 277px;
  width: 0;
  height: 2px;
  background-color: #aaa;
  transition: .8s;
}

.contacts-link-2:hover:before {
  width: 572px;
}

.contacts-link-3:before {
  content: '';
  position: absolute;
  left: 15px;
  top: 337px;
  width: 0;
  height: 2px;
  background-color: #aaa;
  transition: .8s;
}

.contacts-link-3:hover:before {
  width: 463px;
}

/* CONTACTS LINK STYLE END */


.library-card {
  margin-bottom: 41px;
}


.library-card__title {
  margin-bottom: 61px;
  position: relative;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Forum';
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 2px;
}

.library-card__title::before {
  content: '';
  position: absolute;
  top: 60px;
  left: 673px;
  width: 50px;
  height: 1px;
  background-color: #0C0C0E;
}

.library-card__container {
  display: flex;
  justify-content: space-between;
}


.library-card__left {

  width: 600px;
}

.library-card__right {
  width: 456px;
  text-align: right;
}

.library-card__left__title {
  margin-bottom: 30px;
  text-align: center;
  font-family: 'Inter';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.library-card__form__title {
  margin-bottom: 20px;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.library-card__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: 386px;
  border: 3px solid #BB945F;
  padding: 17px 20px 30px 19px;
}

.library-card__form__inside {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 560px;
  height: 272px;
  padding: 20px 20px 23px 20px;
  background: #BB945F;
}

.library-card__form__reader-name {
  margin-bottom: 25px;
}

.library-card__form__card-number,
.library-card__form__reader-name {
  border-radius: 10px;
  border: none;
  width: 520px;
  height: 66px;
  padding: 6px 318px 8px 19px;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.library-card__form__card-number:checked,
.library-card__form__reader-name:checked {
  border: none;
}


.library-card__form__reader-name::placeholder,
.library-card__form__card-number::placeholder {
  color: #8E8E8E;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  /* 166.667% */
  letter-spacing: 0.6px;
}

.library-card__form-submit {
  padding: 10px 40px;
  width: 242px;
  height: 44px;
  border-radius: 2px;
  background-color: #FFF;
  border: 1px solid #0C0C0E;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: .3s;
  cursor: pointer;
}

.library-card__form-submit:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
}


.library-card__right__title {
  margin-bottom: 35px;
  font-family: 'Forum';
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
}

.library-card__right__decs {
  margin-bottom: 33px;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.4px;
}


.button-sign,
.button-log {
  cursor: pointer;
  border-radius: 2px;
  border: 1px solid #0C0C0E;
  padding: 8px 0;
  width: 75px;
  color: #0C0C0E;
  text-align: center;
  font-family: 'Inter';
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  transition: .3s;
  
}

.button-log {
  margin-left: 16px;
}

.button-log:hover,
.button-sign:hover {
  border-radius: 2px;
  border: 1px solid #BB945F;
  background: #BB945F;
  cursor: pointer;
}


/*              Main style end           */


/* Footer style start */
.footer {
  width: 100%;
  height: 250px;
  margin: 0 auto;
  background-color: #0C0C0E;
}

.footer__top {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}


.footer__top__left__decs {
  margin-bottom: 18px;
  color: #FFF;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.footer__top__left__list__icon {
  display: inline;
}

.footer__top__left__list__icon {
  margin-right: 12px;
  width: 24px;
  height: 24px;
}


.social-img:hover {
  filter: brightness(200%);
}

.footer__top__left__list__icon:last-child {
  margin-right: 0;
}

.weekend,
.weekdays {
  text-align: right;
  color: #FFF;
  font-family: 'Inter';
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.weekdays {
  margin-bottom: 10px;
}

.hr {
  background: #FFF;
  width: 1400px;
  height: 0.5px;
  margin-bottom: 42px;
}

.footer__down__list__item {
  color: #FFF;
  text-align: center;
  font-family: 'Inter';
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2px;
}


.footer__down__list {
  display: flex;
}

.footer__down__list__item:nth-child(1) {
  margin-right: 494px;
}

.footer__down__list__item:nth-child(2) {
  margin-right: 306px;
}

.address-link,
.rss-link,
.github-name,
.social-img {
  transition: .3s;
}

.address-link:hover,
.rss-link:hover,
.github-name:hover,
.social-img:hover {
  text-shadow: #ffa425 4px 2px 15px;
  filter: brightness(200%);

}

/* Footer style end */


/* Скрытые блоки */


.favorites__list_summer,
.favorites__list_spring,
.favorites__list_autumn {
  display: none;
}


